html {
  background-color: #f4f7ff;
}

.main-container {
  height: 85vh;
}

.main-background {
  background-color: #f4f7ff;
}
.border-bottom {
  border-bottom: 2px dashed rgba(55, 82, 253, 0.2);
}

#activityLog p {
  background-color: #f4f7ff;
  font-size: 20px;
  margin-top: 18px;
  padding: 10px;
  border-radius: 5px;
}
